@{
    ViewBag.Title = "About";
}

<h2>
    A AUTORA
</h2>
<br /><br />
    Maria Alexandra de Melo Furtado Cruz nasceu a 195x em Lisboa e desde cedo mostrou veia artistica.<br />
    E a mais velha de 6 irmãos e tem duas filhas do sexo femenino. Tem um gosto particular pelo ambiente, natureza e mar.
<br />
<br />
    Auto-didacta, estudou astrologia durante muito anos, sendo a Liz Green a sua astrologa de referencia.
<br /><br />
    Foi tradutora da RTP durante 30 anos, traduzindo maioritariamente series infantis.
<br /><br />
Este projecto nasce, fruto do nascimento do seu primeiro neto.
