@{
    ViewBag.Title = "Contact";
}

<h2>PRECISA DE AJUDA?</h2>
<br /><br />
Contacte-nos através do formulário abaixo.
<br />
Promete-mos ser o mais breve possível na resposta.
<br /><br />
<form>
    O seu nome<br>
    <input type="text" name="cf_name"><br>
    O seu e-mail<br>
    <input type="text" name="cf_email"><br>
    Mensagem<br>
    <textarea name="cf_message"></textarea>
    <br />
    <input type="submit" value="Submeter">
</form>