@{
    ViewBag.Title = "Home Page";
}

<h2>
    REGISTAR PARA MAIS TARDE RECORDAR.
</h2>
<br /><br />
Para quem vai ter um bebé ou para quem queria oferecer uma prenda bonita, útil e original a um bebé que vai nascer.
<br />
Por detrás de peixabelha há uma avó que ilustrou o Álbum do Bebé, para registar o primeiro ano do seu neto nascido em Maio de 2015.
<br /><br />
O calendário para 2016 e constituído por 24 pranchas ilustradas. Numa das faces tem o calendário propriamente dito, com tudo o que lhe e inerente.
<br /><br />
    Na outra, uma moldura com uma ilustracao referente a cada mes, para colar uma fotografia mensal do Bebe.
<br /><br />
<h2>DOS 0 AOS 12 MESES</h2>
<br /><br />
Tem um formato de um calendário e é constituído por 24 pranchas ilustradas.
<br />
   Abrange não só os dados do momento de nascimento, Tabelas de Crescimento, Registo de Vacinas e Idas ao Medico, como também dados identificativos, genealógicos, características físicas, temperamentais e comportamentais.
<br /><br />
Há espaço para o Banho, para a Noite, para a Alimentação, para as primeiras Gracinhas e Brincadeiras, Habilidades, Vocalizações e Palavras - enfim, tudo!
<br /><br />
    Tem também espaços pré-definidos para colar fotografias que acompanhem o percurso do Bebe até ao seu primeiro aniversário. 