@{
    ViewBag.Title = "Store";
}

<h2>
    A NOSSA LOJA
</h2>
<br /><br />
Neste momento apenas estamos a aceitar encomendas via CTT. No futuro prometemos tornar o processo mais ágil.
<br /><br />
<table>
    <tr>
        <td>PRODUTO</td>
        <td>Álbum do Bebé</td>
        <td><input type="radio" checked /> </td>
    </tr>
    <tr>
        <td>MÉTODO DE PAGAMENTO</td>
        <td>Correio Registado</td>
        <td><input type="radio" checked /> </td>
    </tr>
</table>

<br /><br />
<form>
    Nome<br>
    <input type="text" name="cf_name"><br>
    Email<br>
    <input type="text" name="cf_email"><br>
    Morada<br>
    <textarea name="cf_message"></textarea>
    <br />
    <input type="submit" value="Submeter">
</form>
