body, nav, ul, li, a  {margin: 0; padding: 0;}
/*body {font-family: 'PT Sans';}*/
a {text-decoration: none;}

.menuHome{margin-top:-6px;}

.container {
    width: 100%;
   /* max-width: 100%; background:url(../images/navi-bg.jpg) left top repeat-x;*/
   background:#eeeeee;
   border-bottom:0px solid #f77d00;
   margin:10px 0px 0px 0px;
   /*border:1px solid #ccc;*/
   
}
.toggleMenu {
    display:  none;
  /*  background: #666;*/
    padding: 10px 15px;
    color: #333; font-size:16px; display:block;
}
.nav {
    list-style: none;
     *zoom: 1;
     
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em; 
}
.nav a {
    padding:11px 8px;
    color:#000;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}


.nav > li > a {
    display: block;
	border-right:1px solid #D8D8D8;
}

.nav > li > a:hover {
    background:#dbdbdb;
}

.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #b4b4b4;
    position: relative;
    z-index:100; border-bottom:1px #999999 solid;}
   
}
.nav li li li a {
    background:#c8c8c8;
    z-index:200; border-bottom:1px #999999 solid;
}
/*@media  screen and (min-width:800px) and (max-width:982px) {
*/
@media screen and (max-width: 982px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none; border-bottom:1px #CCCCCC solid; background:#f3f3f3;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%; border-bottom:1px #CCCCCC solid;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
.menuHome{margin-top:0px;}
}